<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/docDashEdit.css">
</head>
<body>
    
    <div class="body-container">
        <div class="body-aside-left">
            <ul class="upper-nav-body">
                <li><i class="fa fa-heartbeat" aria-hidden="true"><h2>TruHealth</h2></i></li>
                <li class="other"><a href="./doctor">Home</a></li>
                <li class="other"><a href="./docDashPatients">Patients</a></li>
                <li class="other"><a href="./docDashSlots">Slots</a></li>
            </ul>
            <ul class="lower-nav-body">
                <li>Log Out</li>
            </ul>
        </div>
        <div class="body-main">
            <div class="upper-body-main">
                <i class="fa-solid fa-user-doctor"></i>
                <b><%= name %></b>
            </div>
            <div class="lower-body-main">
                <div class="profile-body">
                    <h1>Profile of <%= name %></h1>
                    <hr>
                    <h3 class="name"><%= name %></h3>
                    <p class="speciality"><%= speciality %></p>
                    <div class="qual">
                        <b>Qualification :</b> <p><%= qual %></p>
                    </div>
                    <div class="age">
                        <b>Age :</b> <p><%= age %> yrs</p>
                    </div>
                    <div class="email">
                        <b>Email :</b> <p><%= email %></p>
                    </div>
                    <div class="contact_no">
                        <b>Contact no. :</b> <p><%= contact_no %></p>
                    </div>
                    
                    
                    <div class="edit-button">
                        <a href="./docDashEditForm">Edit</a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="body-aside-right">
            <a href="./docDashEdit"><i class="fa-solid fa-pen-to-square"></i></i></a>
        </div>
    </div>
</body>
</html>